<template>
    <div class="contact-us-class">
        <b-container>
            <h2>Contact Us</h2>
            <div>Please fill out your contact information and query and we'll get back to you.</div>

            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group id="input-group-2" label="Full Name" label-for="input-2"
                              align="left" class="form-label">
                    <b-form-input
                        id="input-2"
                        v-model="form.name"
                        required
                        placeholder="Enter full name"
                    />
                </b-form-group>

                <b-form-group
                    id="input-group-1"
                    label="Email Address"
                    label-for="input-1"
                    align="left"
                    class="form-label"
                >
                    <b-form-input
                        id="input-1"
                        v-model="form.email"
                        type="email"
                        required
                        placeholder="Enter email"
                    />
                </b-form-group>
                <b-form-group label="Message" label-for="input-3" class="form-label" align="left">
                    <b-form-textarea
                        id="input-3"
                        v-model="form.message"
                        placeholder="Enter message"
                        rows="6"
                        max-rows="6"
                        required
                    />
                </b-form-group>
                <b-button type="submit" variant="primary">Submit</b-button>
                <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
        </b-container>
    </div>
</template>

<script>
	export default {
		name: 'ContactUs',
		data()
		{
			return {
				form: {
					email: '',
					name: '',
					message: ''
				},
				show: true
			}
		},
		methods: {
			onSubmit(evt)
			{
				evt.preventDefault()
				alert(JSON.stringify(this.form))
			},
			onReset(evt)
			{
				evt.preventDefault()
				// Reset our form values
				this.form.email = ''
				this.form.name = ''
				this.form.message = '';
				// Trick to reset/clear native browser form validation state
				this.show = false
				this.$nextTick(() =>
				{
					this.show = true
				})
			}
		}
	}
</script>

<style lang="scss" scoped>
    .form-label {
        font-weight: bold;
    }
</style>
