<template>
    <div class="product-page">
        <b-card-group>
            <div çlass="filter-controls">
                <b-card v-for="(filter, idx) in filters" :key="idx" style="min-width: 20rem;">
                    <b-card-header>
                        {{ filter.header}}
                    </b-card-header>
                    <b-card-body v-for="(filterItem, filterIdx) in filter.items" :key="filterIdx">
                        <b-form-checkbox>
                            {{ filterItem.name}}
                        </b-form-checkbox>
                    </b-card-body>
                </b-card>
            </div>
            <b-card>
                <Products/>
            </b-card>
        </b-card-group>

    </div>
</template>

<script>
	import Products from '../components/Products';

	export default {
		name: 'ProductsPage',
		components: { Products },
		data: function ()
		{
			return {
				filters: [
					{
						header: 'Types',
						items: [
							{
								name: 'T-Shirt'
							},
							{
								name: 'Jackets'
							}
						]
					},
					{
						header: 'Size',
						items: [
							{
								name: 'S'
							},
							{
								name: 'M'
							},
							{
								name: 'L'
							},
							{
								name: 'XL'
							}
						]
					},
					{
						header: 'Colour',
						items: [
							{
								name: 'Blue'
							},
							{
								name: 'Black'
							},
							{
								name: 'Yellow'
							},
							{
								name: 'Pink'
							}
						]
					}]

			};
		}
	}
</script>

<style scoped>
    .product-page {
        display: grid;
    }

    .filter-controls {
        max-width: 40rem;
        min-width: 30rem;
    }
</style>
