<template>
    <div class="products">
        <b-card-group deck class="mx-5">
            <div v-for="(product, idx) in products" :key="idx">
                <div class="product-card">
                    <b-card
                        :title="product.name"
                        :img-src="product.imageUrl"
                        img-alt="Image"
                        img-top
                        tag="article"
                        style="max-width: 20rem; min-width: 20rem;"
                        class="mb-2"
                    >
                        <b-card-text>
                            {{product.price}}
                        </b-card-text>

                        <b-button href="#" variant="primary">Add to Cart</b-button>
                    </b-card>
                </div>
            </div>
        </b-card-group>
    </div>
</template>

<script>
	import axios from 'axios';

	export default {
		name: 'Products',
		data: function ()
		{
			return {
				products: []
			};
		},
		mounted()
		{
			axios.get('http://localhost:8081/api/v1/product/all').then(response => (
					this.products = response.data
            ));
		}
	}
</script>

<style scoped>
    .product-card:hover {
        background: green;
    }
</style>
