<template>
    <div class="profile">
        <b-container>
            <h2>Login</h2>
            <b-form @submit="onSubmit">
                <b-form-group
                    id="email-address-group"
                    label="Email Address"
                    label-for="email-address-input"
                    align="left"
                >
                    <b-form-input
                        id="email-address-input"
                        v-model="user.emailAddress"
                        required
                        type="email"
                        placeholder="Enter email address"
                    ></b-form-input>
                </b-form-group>
                <b-form-group
                    id="password-group"
                    label="Password"
                    label-for="password-input"
                    align="left"
                >
                    <b-form-input
                        id="password-input"
                        v-model="user.password"
                        required
                        placeholder="Enter password"
                        type="password"
                    ></b-form-input>
                </b-form-group>
                <b-button type="submit" variant="primary" :disabled="submitDisabled">Login</b-button>
            </b-form>
        </b-container>
    </div>
</template>

<script>
    import account from '../../api/account'

	export default {
		name: 'LoginPage',
		data()
		{
			return {
				user: {
					emailAddress: null,
					password: null
				},
				result: null
			}
		},
		methods: {
			onSubmit(evt)
			{
				evt.preventDefault();
				account.login(this.user.emailAddress, this.user.password).then((response) =>
				{
					let user = response.data;
					this.$store.dispatch('user/setUser', user);
					this.$router.push('/');
				}, (error) =>
				{
					alert(error);
				});
			}
		},
		computed: {
			submitDisabled()
			{
				return !this.user.emailAddress || !this.user.password;
			}
		}
	}
</script>

<style lang="scss" scoped>
    .label {
        font-weight: bold;
    }
</style>
