<template>
    <div class="profile">
        <b-container>
            <h2>My Profile</h2>

            <b-form @submit="onSubmit">
                <b-form-row>
                    <b-col>
                        <label class="label">First name</label>
                    </b-col>
                    <b-col>
                        <b-form-input
                            v-model="user.firstName"
                            required
                            placeholder="Enter first name"
                            :disabled="isDisabled()"
                        />
                    </b-col>
                </b-form-row>
                <b-form-row>
                    <b-col>
                        <label class="label">Surname</label>
                    </b-col>
                    <b-col>
                        <b-form-input
                            v-model="user.surname"
                            required
                            placeholder="Enter surname"
                            :disabled="isDisabled()"
                        />
                    </b-col>
                </b-form-row>
                <b-form-row>
                    <b-col>
                        <label class="label">Cell Number</label>
                    </b-col>
                    <b-col>
                        <b-form-input
                            v-model="user.cellNumber"
                            required
                            placeholder="Enter cell number"
                            :disabled="isDisabled()"
                            type="number"
                        />
                    </b-col>
                </b-form-row>
                <b-form-row>
                    <b-col>
                        <label class="label">Email Address</label>
                    </b-col>
                    <b-col>
                        <b-form-input
                            v-model="user.email"
                            required
                            placeholder="Enter email address"
                            :disabled="isDisabled()"
                            type="email"
                        />
                    </b-col>
                </b-form-row>
                <h2>Address</h2>
                <b-form-row>
                    <b-col>
                        <label class="label">Unit Number</label>
                    </b-col>
                    <b-col>
                        <b-form-input
                            v-model="user.address.unitNumber"
                            placeholder="Enter unit number"
                            :disabled="isDisabled()"
                        />
                    </b-col>
                </b-form-row>
                <b-form-row>
                    <b-col>
                        <label class="label">Complex Name</label>
                    </b-col>
                    <b-col>
                        <b-form-input
                            v-model="user.address.complexName"
                            placeholder="Enter complex"
                            :disabled="isDisabled()"
                        />
                    </b-col>
                </b-form-row>
                <b-form-row>
                    <b-col>
                        <label class="label">Street Number</label>
                    </b-col>
                    <b-col>
                        <b-form-input
                            v-model="user.address.streetNumber"
                            placeholder="Enter street number"
                            :disabled="isDisabled()"
                        />
                    </b-col>
                </b-form-row>
                <b-form-row>
                    <b-col>
                        <label class="label">Street Name</label>
                    </b-col>
                    <b-col>
                        <b-form-input
                            v-model="user.address.streetName"
                            placeholder="Enter street name"
                            :disabled="isDisabled()"
                        />
                    </b-col>
                </b-form-row>
                <b-form-row>
                    <b-col>
                        <label class="label">Suburb</label>
                    </b-col>
                    <b-col>
                        <b-form-input
                            v-model="user.address.suburb"
                            placeholder="Enter suburb"
                            :disabled="isDisabled()"
                        />
                    </b-col>
                </b-form-row>
                <b-form-row>
                    <b-col>
                        <label class="label">Province</label>
                    </b-col>
                    <b-col>
                        <b-form-input
                            v-model="user.address.province"
                            placeholder="Enter province"
                            :disabled="isDisabled()"
                        />
                    </b-col>
                </b-form-row>
                <b-form-row>
                    <b-col>
                        <label class="label">Country</label>
                    </b-col>
                    <b-col>
                        <b-form-input
                            v-model="user.address.country"
                            placeholder="Enter country"
                            :disabled="isDisabled()"
                        />
                    </b-col>
                </b-form-row>
                <b-form-row>
                    <b-col>
                        <label class="label">Postal Code</label>
                    </b-col>
                    <b-col>
                        <b-form-input
                            v-model="user.address.postalCode"
                            placeholder="Enter postal code"
                            :disabled="isDisabled()"
                        />
                    </b-col>
                </b-form-row>
                <b-button type="button" variant="primary" v-show="isDisabled()" v-on:click="toggleDisable">Edit</b-button>
                <b-button type="submit" variant="primary" v-show="!isDisabled()">Update</b-button>
                <b-button type="button" variant="primary" v-show="!isDisabled()" v-on:click="toggleDisable">Cancel</b-button>
            </b-form>
        </b-container>
    </div>
</template>

<script>
	export default {
		name: 'ProfilePage',
		data()
		{
			return {
				user: {
					email: 'faraaz@gmail.com',
					firstName: 'Faraaz',
					surname: 'Sulaiman',
					cellNumber: '0823355602',
					address: {
						unitNumber: '5',
						complexName: 'Burnham Place',
						streetNumber: '25',
						streetName: 'Burnham Road',
						suburb: 'Plumstead',
						city: 'Cape Town',
						province: 'Western Province',
						country: 'South Africa',
						postalCode: '7800'
					}
				},
				disabled: true
			}
		},
		methods: {
			onSubmit(evt)
			{
				evt.preventDefault()
				this.toggleDisable();
                alert(JSON.stringify(this.user))

			},
			isDisabled()
			{
				return this.disabled;
			},
			toggleDisable()
			{
				this.disabled = this.disabled ? false : true;
			}
		},
	}
</script>

<style lang="scss" scoped>
    .label {
        font-weight: bold;
    }
</style>
