<template>
    <div class="profile">
        <b-container>
            <h2>Create an Account</h2>
            <span>Note that we will never share your information with anyone.</span>

            <b-form @submit="onSubmit">
                <b-form-group
                    id="first-name-group"
                    label="First Name"
                    label-for="first-name-input"
                    align="left"
                >
                    <b-form-input
                        id="first-name-input"
                        v-model="user.firstName"
                        required
                        placeholder="Enter first name"
                    ></b-form-input>
                </b-form-group>
                <b-form-group
                    id="last-name-group"
                    label="Last Name"
                    label-for="last-name-input"
                    align="left"
                >
                    <b-form-input
                        id="last-name-input"
                        v-model="user.lastName"
                        required
                        placeholder="Enter last name"
                    ></b-form-input>
                </b-form-group>
                <b-form-group
                    id="cell-number-group"
                    label="Cell Number"
                    label-for="cell-number-input"
                    align="left"
                >
                    <b-form-input
                        id="cell-number-input"
                        v-model="user.cellNumber"
                        required
                        placeholder="Enter cell number"
                    ></b-form-input>
                </b-form-group>
                <b-form-group
                    id="email-address-group"
                    label="Email Address"
                    label-for="email-address-input"
                    align="left"
                >
                    <b-form-input
                        id="email-address-input"
                        v-model="user.emailAddress"
                        required
                        type="email"
                        placeholder="Enter email address"
                    ></b-form-input>
                </b-form-group>
                <b-form-group
                    id="password-group"
                    label="Password"
                    label-for="password-input"
                    align="left"
                >
                    <b-form-input
                        id="password-input"
                        v-model="user.password"
                        required
                        placeholder="Enter password"
                        type="password"
                    ></b-form-input>
                </b-form-group>
                <b-button type="submit" variant="primary" :disabled="submitDisabled">Create Account</b-button>
            </b-form>
        </b-container>
    </div>
</template>

<script>
	import account from '../../api/account';

	export default {
		name: 'RegisterPage',
		data()
		{
			return {
				user: {
					emailAddress: null,
					firstName: null,
					lastName: null,
					cellNumber: null,
					password: null
				},
				result: null
			}
		},
		methods: {
			onSubmit(evt)
			{
				evt.preventDefault();
				account.register(this.user).then((response) =>
				{
					let user = response.data;
					this.$store.dispatch('user/setUser', user);
					this.$router.push('/');
				}, (error) =>
				{
					alert(error);
				});
			}
		},
		computed: {
			submitDisabled()
			{
				return !this.user.emailAddress || !this.user.firstName || !this.user.lastName || !this.user.cellNumber || !this.user.password;
			}
		}
	}
</script>

<style lang="scss" scoped>
    .label {
        font-weight: bold;
    }
</style>
