<template>
    <div class="layout-body">
        <router-view/>
    </div>
</template>

<script>
	export default {
		name: 'LayoutBody'
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import '../sass/custom.scss';

    .layout-body {
        margin-top: $layout-body-margin;
    }
</style>
