<template>
    <div>
        <LayoutNavBar/>
        <LayoutBody/>
    </div>
</template>

<script>
	import LayoutNavBar from './LayoutNavBar';
	import LayoutBody from './LayoutBody';

	export default {
		name: 'Layout',
		components: {
			LayoutNavBar,
			LayoutBody,
		}
	}
</script>

<style lang="scss">
</style>
