<template>
    <div>
        <b-navbar type="dark" variant="info" fixed="top" class="nav-bar">
            <b-navbar-brand href="#">
                <img src="https://placekitten.com/g/30/30" alt="Kitten">
            </b-navbar-brand>

            <b-navbar-nav>
                <b-nav-item href="/" v-on:click="goToHome">Home</b-nav-item>
                <b-nav-item href="/products" v-on:click="gotToProducts">Products</b-nav-item>
                <b-nav-item href="/contact-us" v-on:click="goToContactUs">Contact Us</b-nav-item>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-form>
                    <b-form-input size="sm" class="mr-sm-2" placeholder="Search website"></b-form-input>
                    <b-button size="sm" class="mr-sm-0" type="submit">Search</b-button>
                </b-nav-form>
                <div v-if="userSignedIn">
                    <b-nav-item-dropdown right :text="getMyAccountDisplay">
                        <b-dropdown-item href="/account/profile" v-on:click="gotToAccountProfile">Profile</b-dropdown-item>
                        <b-dropdown-item href="/account/orders" v-on:click="gotToAccountOrders">Orders</b-dropdown-item>
                        <b-dropdown-item href="#" v-on:click="signOut">Sign Out</b-dropdown-item>
                    </b-nav-item-dropdown>
                </div>
                <div v-else>
                    <b-navbar-nav>
                        <b-nav-item href="/account/login" v-on:click="goToLogin">Login</b-nav-item>
                        <b-nav-item href="/account/register" v-on:click="goToRegister">Register</b-nav-item>
                    </b-navbar-nav>
                </div>
            </b-navbar-nav>
        </b-navbar>
    </div>
</template>

<script>
	import { mapState } from 'vuex'

	export default {
		name: 'LayoutNavBar',
		methods: {
			goToHome: function ()
			{
				this.$router.push('/');
			}
			,
			goToContactUs: function ()
			{
				this.$router.push('/contact-us');
			}
			,
			gotToProducts: function ()
			{
				this.$router.push('/products');
			}
			,
			gotToAccountProfile: function ()
			{
				this.$router.push('/account/profile');
			}
			,
			gotToAccountOrders: function ()
			{
				this.$router.push('/account/orders');
			}
			,
			goToLogin: function ()
			{
				this.$router.push('/account/login');
			}
			,
			goToRegister: function ()
			{
				this.$router.push('/account/register');
			},
			signOut: function ()
			{
				this.$store.dispatch('user/setUser', null);
			}
		},
		computed: {
			...mapState({
				user: state => state.user.user,
			}),
			userSignedIn()
			{
				return this.user != null && this.user.firstName != null;
			},
			userNotSignedIn()
			{
				return this.user == null;
			},
			getMyAccountDisplay()
			{
				return 'My Account (' + this.user.firstName + ' ' + this.user.lastName + ')';
			}
		}
	}
</script>

<style lang="scss">
    @import '../sass/custom.scss';

    .nav-bar {
        height: $nav-bar-height;
    }
</style>
